@import "twxplore/gui/geo/bootstrap_variables.scss";

.root {
  position: "absolute";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: "hidden";
}

.sidebar {
  z-index: 1000;
  position: "absolute";
  top: 0;
  bottom: 0;
  transition: "transform .3s ease-out";
  -webkit-transition: "-webkit-transform .3s ease-out";
  will-change: "transform";
  overflow-y: "auto";
  background-color: white;
  padding: 10px;
  width: 250px;
}

.content {
  position: "absolute";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: "auto";
  -webkit-overflow-scrolling: "touch";
  transition: "left .3s ease-out, right .3s ease-out";
}

.overlay {
  width: 0px;
  z-index: 1;
  position: "fixed";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: "hidden";
  transition: "opacity .3s ease-out, visibility .3s ease-out";
  background-color: transparent !important;
}

.dragHandle {
  z-index: 1;
  position: "fixed";
  top: 0;
  bottom: 0;
}